@font-face {
  font-family: Merriweather-regular;
  src: url(../files/merriweather/Merriweather-Regular.ttf);
}
@font-face {
  font-family: Merriweather-bold;
  src: url(../files/merriweather/Merriweather-Bold.ttf);
}
@font-face {
  font-family: Merriweather-italic;
  src: url(../files/merriweather/Merriweather-Italic.ttf);
}
@font-face {
  font-family: Merriweather-light-italic;
  src: url(../files/merriweather/Merriweather-LightItalic.ttf);
}
:root {
  --main-color: #101010;
  --action-color: #0866FF;
  --action-color-hover: #0b57d3;
  --action-color-active: #083e96;
  --absent-color: #ca904e;
  --starterPageBottom: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Merriweather-regular;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

#starterPage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--main-color);
  background-color: #000000;
  opacity: 1;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #000000 40px), repeating-linear-gradient(rgba(17, 17, 17, 0.3333333333), #111111);
}
#starterPage .logo-container-start {
  margin-bottom: var(--starterPageBottom);
  display: table;
  float: left;
  cursor: default;
  font-size: 55px;
}
#starterPage .logo-container-start h1 {
  color: #fff;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
#starterPage .logo-container-start h1 span {
  font-family: Merriweather-bold;
}
#starterPage .logo-container-start h1 .version {
  font-family: Merriweather-regular;
  font-size: 50%;
  color: var(--action-color);
}
#starterPage .starter-defenition {
  color: #fff;
  font-size: 25px;
  margin-bottom: var(--starterPageBottom);
  background-color: #171717;
  padding: 50px;
  border-radius: 10px;
}
#starterPage .starter-defenition p {
  margin-bottom: var(--starterPageBottom);
  font-family: Merriweather-italic;
}
#starterPage .starter-defenition ul {
  font-family: Merriweather-light-italic;
}
#starterPage .starter-defenition ul li {
  padding: 5px 0;
}
#starterPage a {
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-family: Merriweather-bold;
  transition: 0.3s all ease;
  cursor: pointer;
  font-size: 30px;
}
#starterPage a:hover {
  color: var(--action-color);
}
#starterPage #btnLoadInputStart {
  display: none;
}

header {
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: var(--main-color);
  height: 5vh;
  display: none;
}

.inner-header {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  height: 100%;
  display: table;
  float: left;
  cursor: default;
  margin-right: 10px;
}
.logo-container h1 {
  color: #fff;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.logo-container h1 span {
  font-family: Merriweather-bold;
}
.logo-container h1 .version {
  font-family: Merriweather-regular;
  font-size: 50%;
  color: var(--action-color);
}

.navbar {
  list-style: none;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .bar {
  display: inline-block;
  position: relative;
  transition: 0.3s all ease;
  cursor: pointer;
}
.navbar .bar a {
  display: block;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-family: Merriweather-bold;
  transition: 0.3s all ease;
}
.navbar .bar a:hover {
  color: var(--action-color);
}
.navbar .bar:hover .dropdown {
  display: block;
}
.navbar .bar:hover .dropdown.closed {
  display: none;
}

.navbar .bar .dropdown {
  width: 100%;
  background-color: var(--main-color);
  position: absolute;
  z-index: 999;
  display: none;
  box-shadow: 4px 4px 8px 2px rgba(34, 60, 80, 0.2);
}
.navbar .bar .dropdown li {
  padding: 10px 0 10px 0;
  display: flex;
  align-items: start;
}
.navbar .bar .dropdown li:first-child {
  padding-top: 20px;
}
.navbar .bar .dropdown li:last-child {
  padding-bottom: 20px;
}
.navbar .bar .dropdown #btnLoadInput {
  display: none;
}
.navbar .bar .dropdown label {
  display: inline-block;
  color: #fff;
}

@media (max-width: 1100px) {
  .navbar .bar a {
    padding: 5px 10px;
  }
  .navbar .bar .dropdown li {
    padding: 5px 0 5px 0;
  }
  .navbar .bar .dropdown li:first-child {
    padding-top: 10px;
  }
  .navbar .bar .dropdown li:last-child {
    padding-bottom: 10px;
  }
}
main {
  position: relative;
}
main section {
  position: absolute;
  top: 0;
  display: none;
}
main .sectionActive {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
main #sectionTree {
  display: none;
}
main aside {
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  background-color: #eee;
}
main aside .sidePanelInfo {
  display: none;
  min-width: 460px;
  flex-direction: column;
  gap: 15px;
}
main aside .sidePanelInfo div {
  display: flex;
  justify-content: center;
}
main aside .sidePanelInfo #sidePanelTitle {
  text-align: center;
  font-family: Merriweather-bold;
}
main aside .sidePanelInfo #sidePanelImg {
  width: 320px;
  height: 426.6666666667px;
  margin-top: 10px;
}
main aside .sidePanelInfo #sidePanelBirthDate {
  font-family: Merriweather-bold;
}
main aside .toggleSidePanel {
  display: grid;
}
main aside .toggleSidePanelInfo {
  display: flex;
}/*# sourceMappingURL=style.css.map */